{
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 1,
        "quotes": 0,
        "no-unused-vars": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0,
        "no-irregular-whitespace": 1
    }
}