
# vi

set editing-mode vi

# ==============================================================================
# normal mode

set keymap vi-command

# ==============================================================================
# insert mode

set keymap vi-insert

# tab completion ignores case
set completion-ignore-case on

# show all completions as soon as I press tab, even if there's more than one
set show-all-if-ambiguous on

# ==============================================================================
