# Overrides the shell detected from the shebang.
# Valid values are sh, bash, dash, ksh, and busybox.
# The default is to deduce the shell from the file's shell directive, shebang,
# or .bash/.bats/.dash/.ksh extension, in that order.
# sh refers to POSIX sh (not the system's), and will warn of portability issues.
shell=sh

# Enable all optional checks
enable=all

# Always allow ShellCheck to open arbitrary files from 'source' statements.
external-sources=true

# allow for some concessions (bashisms)
disable=3015 # `=~` regex matching is undefined.
disable=3043 # `local` is undefined.
